* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e6e6e6; */
  background-color: #e6e6e6;
  margin: 1rem;
  padding: 10px;
  border-radius: 8px;
}

.logo img {
  height: 70px;
}

.links a {
  text-decoration: none;
  color: black;
  color: #0767ff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-right: 8px;
}

ul {
  display: flex;
  gap: 1rem;
}

#search-bar {
  width: 50%;
  height: 2rem;
  font-size: 20px;
  text-indent: 1rem;
  border-radius: 5px;
  border: 1px solid;
}
#search-bar:focus {
  outline: 2px solid #0767ff;
  border: none;
}

.category img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.category {
  display: flex;
  gap: 2rem;
  border: 1px solid #3a86ff;
  margin: 1rem;
  border-radius: 8px;
  padding: 1rem;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
  width: min-content;
  text-align: center;
}

.item a {
  text-decoration: none;
  color: #3a86ff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.heading {
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid; */
  border-radius: 8px;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #3a86ff;
}

.product img {
  height: 210px;
  border-radius: 8px;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
}
.product-bottom svg {
  height: 20px;
}

.product {
  /* border: 1px solid; */
  width: min-content;
  word-wrap: break-word;
  border-radius: 8px;
  padding: 0.5rem;
  margin: auto;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

span,
.price {
  font-weight: bold;
}
.location {
  margin-top: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* Common Style */
/* switch color theme */
:root {
  --bg-color: #fff;
  --bg-light: #dcdaca;
  --font-color: #3d3d3d;
  --font-light: #202020;
}
.darkMode {
  --bg-color: #171923;
  --bg-light: #232535;
  --font-color: #000;
  --font-light: #ffffff;
}
/* end switch color theme */
.nav-links #toggle {
  pointer: cursor !important;
}

body {
  color: var(--font-light);
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  transition: all 500ms;
}
p {
  color: var(--font-color);
}

.btn {
  padding: 10px 30px;
  border: 3px solid var(--font-light);
  transition: all 250ms;
}
.btn:hover {
  color: var(--bg-color);
  background-color: var(--font-light);
}

nav {
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--link-btn);
}
