* {
  margin: 0;
  padding: 0;
}

:root {
  --font-one: 'Montserrat', sans-serif;
  --font-two: 'Roboto Mono', monospace;
}

body {
  margin: auto;
}

.navbar-container {
  background-color: rgba(58, 134, 255, 0.05);
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2rem;
}

.hero-container,
footer {
  max-width: 1100px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--font-one);
}


a {
  color: #000;
  text-decoration: none;
}

.small-logo {
  display: none;
}

.logo-holder img {
  width: 8rem;
  cursor: pointer;
}

.right-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.sign-in{
  width: 6rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  color: rgba(58, 134, 255, 1);
  font-weight: 600;
  font-family: var(--font-one);
  border: 1px solid rgba(58, 134, 255, 1);
  transition: 0.2s ease;
  cursor: pointer;
}

.user {
  display: flex;
  gap: 1rem;
}

.advertisement-btn {
  width: 10rem;
  height: 3rem;
  background-color: #0767ff;
  border: none;
  color: #fff;
  font-family: var(--font-one);
  transition: 0.2s ease;
  cursor: pointer;
  font-weight: 600;
}

.search-container {
  margin-top: 25px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-one);
  
}

.category-btn {
  border: 1px solid #f4f5f5;
  width: 10rem;
  height: 3rem;
  background-color: #fff;
  cursor: pointer;
  font-weight: 600;
  color: rgba(14, 32, 61, 1);
text-indent: 0.5rem;
}

.search-btn:active,
.item:active,
.advertisement-btn:active,
.load-more-btn:active,
.sign-in:active,
.advertisement-btn-bottom:active,
.previous-next-btn:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(0.98);
}

.search-input {
  width: 30rem;
  height: 3rem;
  border: 1px solid #f4f5f5;
  text-indent: 1rem;
}
.search-input:focus {
  outline: 2px solid #3a86ff;
}

.search-btn {
  background-color: #0767ff;
  border: none;
  width: 10rem;
  height: 3rem;
  color: #fff;
  transition: 0.2s ease;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-one);
  
}

.category-text {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  align-items: center;
  font-family: var(--font-one);
}

.category-items {
  display: flex;
  gap: 3rem;
}

.item {
  width: 217px;
  height: 161px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  text-align: center;
  border: 1px solid #f4f5f5;
  font-family: var(--font-one);
  transition: 0.2s ease;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item img {
  width: 70px;
  margin-bottom: 2rem;
}

h1 {
  font-family: var(--font-two);
}

.advertisements-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
}

.advertisement {
  font-family: var(--font-one);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.1s ease;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  height: 350px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.advertisement img {
  width: 250px;
}

.advertisement-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.location-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: var(--font-two);
}

.previous-next{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.previous-next-btn{
  width: 6rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  color: rgba(58, 134, 255, 1);
  font-weight: 600;
  font-family: var(--font-one);
  border: 1px solid rgba(58, 134, 255, 1);
  transition: 0.2s ease;
  cursor: pointer;
}

.page-link{
  font-weight: 600;
  font-family: var(--font-one);
}

.section-menu {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  background-color: rgba(58, 134, 255, 1);
  padding: 1.5rem;
  font-family: var(--font-one);
  margin-top: 2rem;
  padding-left: 14%;
  padding-right: 14%;
  text-align: center;
}

.section-menu p{
  color: #fff;
  font-family: var(--font-two);
  font-weight: 600;
}

.advertisement-btn-bottom {
  width:10rem;
  height: 3rem;
  background-color: #FFF;
  border: none;
  color:  rgba(58, 134, 255, 1);

  font-family: var(--font-one);
  transition: 0.2s ease;
  cursor: pointer;
  font-family: var(--font-two);
  font-weight:600;
}

.grey {
  color: #bdbdbd;
}

.rule {
  text-decoration: dotted;
  text-decoration-line: underline;
  text-underline-offset: 0.7rem;
}
.user-advertisement {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.all-category {
  display: none;
}

.footer-texts{
display: flex;
gap: 4rem;
margin-top: 6rem;
margin-bottom: 5rem;
font-family: var(--font-one);
}
#social-icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}

#social-icons img{
  width: 2rem;  
}

.footer-texts div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




@media (max-width: 1100px) {
  .hero-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .advertisements-grid {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: min-content;
    margin: auto;
  }
  .advertisements-grid img {
    margin: auto;
  }

  .category-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
  }
  .item {
    margin: auto;
  }
  .fa-heart {
    position: relative;
    bottom: 15.5rem;
    left: 11.5rem;
    font-size: 1.5rem;
  }
  .footer-texts{
    padding: 1rem;
  }

 
 
}

@media (max-width: 830px) {
  .category-items,
  .advertisements-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-container {
    display: flex;
    flex-direction: column;
  }

  .category-btn {
    order: 1;
  }

  .search-btn {
    order: 1;
  }

  .category-btn,
  .search-btn,
  .search-input {
    width: 100%;
  }
  .user {
    display: none;
  }

  .all-category {
    display: flex;
  }
  .category-text p {
    display: none;
  }

  .small-logo {
    display: block;
  }

  .big-logo {
    display: none;
  }

  .navbar-container,
  .section-menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .logo-holder img {
    width: 2.5rem;
  }

  .footer-texts{
    padding: 1rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 2rem;
   margin-bottom: 2rem;
  }
  .previous-next{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 565px) {
  .advertisements-grid {
    grid-template-columns: 1fr;
  }

  .category-items {
    gap: 1rem;
  }
  .item {
    width: 140px;
  }

  .advertisement,
  .advertisement img {
    width: 300px;
  }

  .advertisement-btn {
    width: 180px;
  }
  .category-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .section-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-texts{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  footer{
    display: flex;
    justify-content: center;
  }

  .sign-in{
    display: none;
  }
}
